@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
body {
  background: linear-gradient(to right, #fff, #004D85);
}

.container {
  background: #FFFFFF;
  width: 50%;
  height: 50%;
  left: 25%;
  margin: 0 auto;
  position: absolute;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
  border-radius: 10px;
}

form{
  width: 100%;
  top: 120%;
  font-family: "Open Sans", sans-serif;
}
h1{
  color:#F14A4A;
}
.logo {
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  color: #004D85;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.profile{
  width: 60%;
  top: 0%;
  overflow: auto;
  height: 95%;
}
.CTA {
  width: 80px;
  height: 40px;
  right: -20px;
  bottom: 0;
  margin-bottom: 90px;
  position: absolute;
  z-index: 1;
  background: #7ED386;
  font-size: 1em;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.CTA h1 {
  color: #FFFFFF;
  margin-top: 10px;
  margin-left: 9px;
}
.leftbox {
  float: left;
  top: -5%;
  left: -2%;
  position: absolute;
  width: 10%;
  height: 110%;
  background: rgba(204, 203, 203, 0.94);
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg);
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
  border-radius: 10px;

}
.is-vertically-scrollable {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 250%;
  justify-content: space-between;
  flex: 1 1 auto;
  position: absolute;
  flex-direction: column;
}
nav a {
  list-style: none;
  padding: 40%;
  color: #000;
  font-size: 1.1em;
  display: block;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  color: #fff;
  transform: scale(1.2);
  cursor: pointer;
}
nav a:first-child {
  margin-top: 7px;
}

.active {
  color: #fff;
  transform: scale(2);
}

.rightbox {
  float: right;
  width: 70%;
  height: 100%;
  border-radius: 10px;
}

.profile, .payment, .subscription, .privacy, .settings {
  transition: opacity 0.5s ease-in;
  position: absolute;
  width: 70%;
  border-radius: 10px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 1em;
  margin-top: 40px;
  margin-bottom: 35px;
}

h2 {
  font-weight: bolder;
  color: #01416f;
  font-family: "Roboto", sans-serif;
  width: 80%;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  margin-left: 2px;
}

p {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #fff, rgba(126, 211, 134, 0.5)) 1 0%;
  border-top: 0;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 7px 0;
  color: #070707;
}

span {
  font-size: 0.5em;
  color: #777777;
}

.btn {
  float: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: #004e858e;
}

.btn:hover {
  text-decoration: underline;
  font-weight: 900;
}

input {
  border: 1px solid #dddddd;
  font-family: "Roboto", sans-serif;
  padding: 2px;
  margin: 0;
}

.privacy h2 {
  margin-top: 25px;
}

.settings h2 {
  margin-top: 25px;
}

.noshow {
  opacity: 0;
}

footer {
  position: absolute;
  width: 20%;
  bottom: 0;
  right: -20px;
  text-align: right;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}
footer p {
  border: none;
  padding: 0;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #7d7d7d;
}
.form1{
  text-align: center;
}
.imgsita{
          top: 8%;
    width: 32%;
    position: absolute;
    left: 70%;
}
.enviar{

    width: 60px;
    height: 30px;
   
    bottom: 0;
    margin-bottom: 90px;
    border-radius: 6px;
    z-index: 1;
    background: #004D85;
    color:white;
    font-size: 1em;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  
}

.enviar:hover {
  color: #fff;
  transform: scale(1.1);
}
.redirigir{
    
    bottom: 0;
    margin-bottom: 90px;
    border-radius: 6px;
    z-index: 1;
    background: #004D85;
    color:white;
    font-size: 1em;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    width: 100px;
    text-align: center;
}
.redirigir:hover {
  text-align: center;
  color: #fff;
  transform: scale(1.1);

}
.boton{
    border-radius: 6px;
    background: #004D85;
    color:white;
    font-size: 1em;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    text-align: center;
  }
  .boton:hover {
  text-align: center;
  color: #fff;
  transform: scale(1.1);
}
.v{
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #76E844;
  width: 10px;
  height: 10px;
  background-color: rgba(48, 249, 27, 0.5);
}
.r{
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 0, 0);
  width: 10px;
  height: 10px;
  background-color: #E41A1A;
}
.color{
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  width: 10px;
  height: 10px;
}
.empleadost{
  border-collapse: collapse;
}
.icono{
  width: 50px;
  height: 60px;

}
.titulos3 {
  font-weight: bolder;
  color: #7190A5;
  font-family: "Roboto", sans-serif;
  width: 80%;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  margin-left: 2px;
}
@media screen and (width: 768px{
  .container{
    background-color: black;
      }
}